<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Am I in <%= name %>?</title>
    <meta content='' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>

    <link rel='shortcut icon' href='/favicon.ico'>
    <link rel='stylesheet' href='/styles/application.css'>
    <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css'>

    <script src='/js/vendor/modernizr.min.js'></script>
  </head>

  <body>
    <!--[if lt IE 9]>
      <div class='ie-browser'>
        You are using an <strong>outdated</strong> version of the Internet Explorer browser which is unsupported. Please <a href='http://www.browsehappy.com/' target='_blank'>upgrade to a modern browser</a> to improve your experience. <a href='#' id='dismiss-ie-browser'>Dismiss</a>.
      </div>
    <![endif]-->

    <% include ../../public/img/images.svg %>

    <section id='question' role='main'>
      <div id='header' class='shield'>
        <div class='shield-background'>
          <svg>
            <use xlink:href='#svg-shield'>
          </svg>
          <div id='fallback-shield' class='svg-fallback'></div>
        </div>
        <div class='shield-content'>
          <div class='pi'>
            <a href='https://github.com/codeforamerica/amiinlv/' target='_blank'>
              <svg class='flag-tag'>
                <use xlink:href='#svg-flag-tag'>
              </svg>
              <div id='fallback-flag-tag' class='svg-fallback'></div>
            </a>
          </div>

          <h1>
            <span class='title-opener'>Am I in</span>
            <span class='title-city'><%= name %>?</span>
          </h1>

          <p class='tagline'><%= tagline %></p>
        </div>
      </div>

      <div id='plaque'>
        <div id='location-form'>
          <div class='show-if-geolocation'>
            <button id='input-target'>
              <span class='default-text'>Use my current location</span>
              <span class='loading-text'>Obtaining location ...</span>
            </button>
            <div class='round show-if-geolocation'>
              or
            </div>
          </div>
          <form class='group'>
            <div class='input-location-label hide-if-geolocation'>
              <label for='input-location'>Enter an address:</label>
            </div>
            <div class='location-form-input'>
              <input id='input-location' placeholder='Enter an address' type='text'>
              <button id='input-go'>Tell me</button>
            </div>
          </form>

          <div id='alert' class='alert'></div>

          <% if (examples || examples.length > 0) { %>
            <div id='examples'>
              Try this example!
              <% var i = Math.floor(Math.random() * examples.length) %>
              <a href='' id='example-link'><%= examples[i] %></a>
            </div>
          <% } %>

          <div id='help'>
            <a href='?about' id='about-link'>What's this about?</a>
          </div>
        </div>

        <div id='about'>
          <p><%- about %></p>

          <p>
            <button id='about-close'>Got it</button>
          </p>
        </div>

      </div>
    </section>
    <section id='map'></section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48058112-2', 'auto');
      ga('send', 'pageview');

    </script>
    <script src='//code.jquery.com/jquery-latest.min.js'></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
    <!--[if lte IE 9]>
      <script src='/js/vendor/jQuery.XDomainRequest.js'></script>
    <![endif]-->
    <script src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'></script>
    <script src='/js/application.min.js'></script>

  </body>
</html>
